{% extends "base.html" %}
{% load static %}
{% load index_tags %}
{% load clients_tags %}
{% load i18n %}
{% block title %}

{% endblock %}
{% block head %}

    <meta name="description" content="{% translate 'ТОВ Невідкладна правова допомога, повернення незаконно стягнутих коштів та компенсація понесених витрат за виконавчим написом нотаріуса.' %}">
    <meta name="keywords" content="{% translate 'снять арест, зняття арешту, виконавчий напис нотаріус, исполнительная надпись нотариус' %}">
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <script async="" src="{% static "js/index.js" %}"></script>
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-9XM7PJ5P5F"></script>
	<script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'G-9XM7PJ5P5F', {
                page_path: window.location.pathname,
            });
    </script>
{% endblock %}
{% block menu %}
{#    <div class="btn-group">#}
        {% for obj in index_all %}
            {% if obj.slug %}
                <a class="btn btn-outline-primary align-self-stretch  my-3" href="#{{ obj.slug }}">{{ obj.blcokId }}</a>
            {% endif %}
        {% endfor %}
{#    </div>#}
{% endblock %}
{% block content %}
    {% for obj in index_all %}
        <div class="col mb-3 p-4">
            {% if obj.hideTitle %}
                <h3 class=" text-center"{% if obj.slug %}id="{{ obj.slug }}"{% endif %}>{{ obj.blockName }}</h3>
            {% endif %}
            <p>{{ obj.text|markdown }}</p>
        </div>
    {% endfor %}

    <div class="row py-3 my-3">
        {% for prc in price_all %}
            <div class="card col-sm-4 mb-1">
                <div class="card-body d-flex flex-column">
                    <h6 class=" text-center">{{ prc.name }}</h6>
                    <div class="card-text">
                        {{ prc.text|markdown }}
                    </div>
                    <h3 class="text-center mt-auto">{{ prc.price }} грн</h3>
                </div>
            </div>
        {% endfor %}
    </div>
{% clients_form %}
{% endblock %}