{% load static %}
{#{% load photo_tags %}#}
{% load i18n %}
{% block head %}
{#<link href="{% static "css/form.css" %}" rel="stylesheet">#}
{#    <script>#}
{#    $(".btn_form").on("click", function() {#}
{#    $.post("http://some/endpoint/here", $("#my-form").serialize())#}
{#        .done(function() { window.alert("Successfully submitted!"); })#}
{#        .fail(function() { window.alert("Submission failed!"); });#}
{#    });#}
{#    </script>#}

{% endblock %}

{#<div class="form_bgr">#}
<div class="container-fluid bg-info py-5" id="contactForm">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
        <form action="{% url 'clients:clients' %}" method="post" class="d-flex flex-column">
            <h3 class="text-light text-center">{% translate 'Відправити запит' %}</h3>
            {% csrf_token %}
{#            {{ clients_form }}#}

            <div class="d-flex p-2 m-1">{{ clients_form.name }}</div>
            <div class="d-flex p-2 m-1">{{ clients_form.tel }}{{ clients_form.summ }}</div>
            <div class="d-flex p-2 m-1">{{ clients_form.region }}</div>
            <div class="d-flex p-2 m-1">{{ clients_form.penalty }}{{ clients_form.price }}</div>
            <div class="d-flex p-2 m-1">{{ clients_form.about }}</div>
            <button class="btn_form"><span class="btn_form_text">{% translate 'Отправить заявку' %}</span></button>
        </form>
        </div>
    </div>
</div>



{#</div>#}
{## 'name', 'tel', 'summ', 'region', 'penalty', 'price', 'about'#}