
	.bannerContainer{
		height: 600px;
	}
	.bannerBlock{
		background-image: url(/media/photo/index/sud.jpg);
	    background-size: cover;
	    height: 600px;
	    left: -1.5rem;
	    width: calc(100% + 3rem);
	    color: #f0f0f0;
	}
	.bannerText{
	    background-color: rgba(0,0,0,0.5);
	    padding-left: 15%;
	    padding-right: 15%;
	    bottom: 20px;
	}





